services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: smart_house
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./Smart_Home_back
    container_name: backend
    ports:
      - "8085:8085"
    depends_on:
      - mysql

  frontend:
    build: ./SmartHome-front
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mysql_data:
